<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Formulario de categorias</h1>

	<form th:action="@{/categorias/save}" method="post"> 
		<label for="fname">Nombre</label> 
		<br> 
		<input type="text" id="fname" name="nombre"> 
		<br> 
		<label for="lname">Descripción</label>
		<br> 
		<input type="text" id="lname" name="descripcion"> 
		<br>
		<input type="submit" value="Guardar">
	</form>
</body>
</html>